.table_body_cell {
    font-family: inherit;
    line-height: inherit;
    font-size: 14px;
    font-weight: normal;
    color: inherit;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.table_body_row {
    &:nth-child(odd) {
        background-color: #f6f6f6;
    }

    &:hover {
        background-color: #e4e4e4;
    }
}
