%empty-table-body-cell-content,
.empty_table_body_cell_content {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 100px;
    line-height: 150px;
}

.empty_table_body_cell_content__in_progress {
    @extend %empty-table-body-cell-content;
    opacity: 0;
}
