$main-background-text-color: #fff;
$ui-unit: 8px;

.table_wrapper {
    background-color: $main-background-text-color;
    position: relative;
    display: block;
    padding: 16px 24px;
    border-radius: 4px;
}
