.table_head_cell {
    font-weight: normal;
    font-size: 14px;
    color: inherit;
    line-height: inherit;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}


.table_head_cell__sortable {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.table_head_cell__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

